@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  overflow-wrap: break-word;/*quebar o texto*/
  transition: ease-in-out;
}
*::-webkit-scrollbar {/*hidde scrollbar*/
    display: none;
}

@keyframes getIn{ 
  0%{ transform:  translate(-150%, -80px) scale(0); 
  border-radius: 11% 89% 25% 75% / 84% 46% 54% 16% ; }
	25%{transform: translate(-75%, -60px) scale(0.2, 0.5); 
	border-radius: 11% 89% 48% 52% / 47% 46% 54% 53% ;}
	50%{transform:  translate(-50%, -40px) scale(0.6, 0.5); 
	border-radius: 11% 89% 48% 52% / 47% 46% 54% 53% ;}
	75%{transform:  translate(-25%, -20px) scale(0.7);
	border-radius:11% 89% 21% 79% / 47% 10% 90% 53%  ;}
  100%{ transform: translate(0%, 0px) scale(1); 
	border-radius: 12px;}
		}
html,
body {
  height: 100vh;
}
body{
	display: flex ;
	justify-content: center;
	align-items: center;
	background-color: #F1F3F8;
}
.container{
  display: flex;
  min-width: 1240px;
	/*width: 85vw;*/
	height: 85vh;
	background-color: white;
	border-radius: 12px;

}
aside{
	width:20%;
	max-width: 90px;
	height: 100%;
	border-right: solid 2px #F1F3F8;
	justify-content: center;
    display: grid;
    grid-template-rows: 80px auto;
}

aside p{
  padding-top: 30px;
}
.addNote{
	margin-top: 40px;
	display: flex;
	border-radius: 50%;
	background-color: black;
	width: 40px;
  height: 40px;
  justify-self: center;
	justify-content: center;
	align-items: center;
}
.fa.fa-plus{
	color: white
}
main{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px 117px auto;
}
main header{
		padding: 30px 0px 1px 70px;
}
main header i.fa.fa-search{
		color: #cbcccf;
		margin-right: 5px;
}
input, textarea, button{
	border: hidden;
  outline: none;
  font-size: unset;
}
main header input:hover{
  border-bottom: solid 1px #F1F3F8;
}
main h1{
	  display: flex;
    align-self: center;
    margin-left: 70px;
}
.notesContainer{
    display: grid;
    grid-template-columns: 19rem 43rem;
    justify-content: SPACE-AROUND;
    grid-gap: 1rem;
    width: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}
.camera{
    display: flex;
    margin: 2rem 0 2rem 0;
    border-radius: 1rem;
    width: auto;
    height: auto;
    background-color: yellow;
}

.mapContainer {
    display: flex;
    margin: 2rem 0 2rem 0;
    border-radius: 1rem;
    width: auto;
    height: auto;
    background-color: green;
}


